{
  "BackupConfig": {
    "Name": "Backup Example Linux",
    "HealthCheckUrl": "https://hc-ping.com/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "BackupDestination": {
      "BucketName": "example-bucket-name",
      "BucketFilePrefix": "backup/example",
      "BucketUploadExtraArgs": {}
    },
    "BackupSources": [
      {
        "Path": "/Path/To/Backup",
        "Exclude": [],
        "ExtraProcess": []
      },
      {
        "Path": "/Path/To/Another/Backup",
        "Exclude": [],
        "ExtraProcess": []
      }
    ]
  }
}
