{
  "BackupConfig": {
    "Name": "Backup Example Windows",
    "HealthCheckUrl": "https://hc-ping.com/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "BackupDestination": {
      "BucketName": "example-bucket-name",
      "BucketFilePrefix": "backup/example",
      "BucketUploadExtraArgs": {}
    },
    "BackupSources": [
      {
        "Path": "P:\\Path\\To\\Backup",
        "Exclude": [],
        "ExtraProcess": []
      },
      {
        "Path": "P:\\Path\\To\\Another\\Backup",
        "Exclude": [],
        "ExtraProcess": []
      }
    ]
  }
}
