{
  "BackupConfig": {
    "Name": "Backup Example Windows",
    "HealthCheckUrl": "https://hc-ping.com/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "BackupDestinations": [
      {
        "BucketName": "Backup-Example-Windows",
        "Type": "s3"
      }
    ],
    "BackupSources": [
      {
        "BucketFilePrefix": "",
        "Exclude": [],
        "Path": "C:\\Path\\To\\Backup",
        "Type": ["tarfile"]
      },
      {
        "BucketFilePrefix": "",
        "Exclude": [],
        "Path": "C:\\Path\\To\\Another\\Backup",
        "Type": ["tarfile"]
      }
    ]
  }
}
